.refresh {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(73, 73, 84, 1) 59%, rgba(9, 9, 8, 0.9163866230085784) 75%);
    height: 75px;
    font-size: 18px;
}

.refresh2 {
    text-decoration: overline;
    text-decoration-color: darkred;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(73, 73, 84, 1) 59%, rgba(9, 9, 8, 0.9163866230085784) 75%);
    color: white;
    width: 100%;
    text-align: center;
    height: 100px;
    font-size: 20px;
}

.developer {
    text-decoration: underline;
    text-decoration-color: darkred;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: monospace;
    border-radius: 20px;
}

.title {
    font-family: monospace;
    color: white;
    text-align: center;
    border-bottom: solid;
}

.choice:hover {
    background-color: gray;
}

.whiteFlag {
    margin-left: 0.3em;
    float: left;
    padding-bottom: 1em;
}

.whiteFlag:hover {
    text-decoration: overline;
    color: darkred;
}

.letsgo {
    visibility: hidden;
    margin-left: 18em;
    height: 33px;
    font-size: 19px;
}

.letsgo:hover {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

.nextquestion {
    margin-left: 16em;
    height: 33px;
    font-size: 19px;
}

.nextquestion:hover {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: monospace;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
}

.container1 {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 50px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.flag {
    position: relative;
    outline: 1px solid black;
    height: 100px;
    width: 150px;
    float: left;
}

.test {
    font-family: monospace;
    text-align: center;
    padding: 1em;
    font-size: 30px;
    color: white;
}

.start {
    margin-left: 15em;
    height: 33px;
    font-size: 19px;
}

.start:hover {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

.go {
    visibility: hidden;
    margin: 0 59px;
    height: 33px;
}

.next {
    margin-left: -12.5em;
    height: 33px;
    font-size: 19px;
}

.next:hover {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

.answers {
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    color: white;
    padding-bottom: 1em;
    width: 869px;
    margin-left: -2em;
}

.result {
    font-family: monospace;
    text-align: center;
    padding: 2em;
    font-size: 25px;
    color: white;
}
